

.skillCircle {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 50%; /* Makes the box circular */
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 auto; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.5);
    animation: float 3s ease-in-out infinite;
  }
  
  .skillCircle:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  .skillIcon {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
  
  .skillName {
    font-size: 1rem;
    margin: 0.2rem 0;
    color: #333;
    font-weight: bold;
  }
  
  .skillLevel {
    font-size: 0.9rem;
    color: #777;
  }
  